header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    height: 100%;
    position: relative;
}

.intro__container > h1 {
    font-size: 6rem;
}

.intro__container > h5 {
    font-size: 2rem;
}

.text__container {
    max-width: 80%;
}

/* CTA Styling */
.cta__container {
    margin-top: 1rem;
    display: block;
    gap: 1.2rem;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-text {
    cursor: pointer;
    display: flex;
    color: var(--color-black);
    text-decoration: underline;
    margin-bottom: 1.2rem;
    font-size: 3rem;
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}